(
	items: {
		"CookieRequest<'a>": packet(
			id: 0x00,
			data: {
				"key": "Cow<'a, str>",
			},
		),
		"PluginMessage<'a>": packet(
			id: 0x01,
			data: {
				"channel": "Cow<'a, str>",
				"data": "Seq<'a, u8>",
			},
		),
		"Disconnect<'a>": packet(
			id: 0x02,
			data: {
				"reason": "Nbt<Text<'a>>",
			},
		),
		"FinishConfiguration": packet(
			id: 0x03,
			data: {},
		),
		"KeepAlive": packet(
			id: 0x04,
			data: {
				"id": "u64",
			},
		),
		"Ping": packet(
			id: 0x05,
			data: {
				"id": "u32",
			},
		),
		"ResetChat": packet(
			id: 0x06,
			data: {},
		),
		"RegistryData<'a>": packet(
			id: 0x07,
			data: {
				"registry_id": "Cow<'a, str>",
				"entries": "SeqLen<'a, RegistryEntry<'a>>",
			},
		),
		"RegistryEntry<'a>": struct(
			data: {
				"entry_id": "Cow<'a, str>",
				//"data": "Option<Nbt>", TODO uncomment when Nbt added
			},
		),
		"RemoveResourcePack": packet(
			id: 0x08,
			data: {
				"uuid": "Option<u128>",
			},
		),
		"AddResourcePack<'a>": packet(
			id: 0x09,
			data: {
				"uuid": "u128",
				"url": "Cow<'a, str>",
				"hash": "Cow<'a, str>",
				"forced": "bool",
				// "prompt_message": "Option<Text<'a>>", // todo this is NBT
			},
		),
		"StoreCookie<'a>": packet(
			id: 0x0A,
			data: {
				"key": "Cow<'a, str>",
				"payload": "SeqLen<'a, u8>",
			},
		),
		"Transfer<'a>": packet(
			id: 0x0B,
			data: {
				"host": "Cow<'a, str>",
				"port": "VarInt",
			},
		),
		"FeatureFlags<'a>": packet(
			id: 0x0C,
			data: {
				"features": "SeqLen<'a, Cow<'a, str>>",
			},
		),
		"UpdateTags<'a>": packet(
			id: 0x0D,
			data: {
				"tags": "SeqLen<'a, RegistryTags<'a>>",
			},
		),
		"RegistryTags<'a>": struct(
			data: {
				"registry": "Cow<'a, str>",
				"tags": "SeqLen<'a, Tag<'a>>",
			},
		),
		"Tag<'a>": struct(
			data: {
				"name": "Cow<'a, str>",
				"entries": "SeqLen<'a, VarInt>",
			},
		),
		"KnownPacks<'a>": packet(
			id: 0x0E,
			data: {
				"packs": "SeqLen<'a, KnownPack<'a>>",
			},
		),
		"KnownPack<'a>": struct(
			data: {
				"namespace": "Cow<'a, str>",
				"id": "Cow<'a, str>",
				"version": "Cow<'a, str>",
			},
		),
		"CustomReportDetails<'a>": packet(
			id: 0x0F,
			data: {
				"details": "SeqLen<'a, ReportDetail<'a>>",
			},
		),
		"ReportDetail<'a>": struct(
			data: {
				"title": "Cow<'a, str>",
				"description": "Cow<'a, str>",
			},
		),
		"ServerLinks<'a>": packet(
			id: 0x10,
			data: {
				"links": "SeqLen<'a, ServerLink<'a>>",
			},
		),
		"ServerLink<'a>": struct(
			data: {
				"link_type": "ServerLinkType<'a>",
				"url": "Cow<'a, str>",
			},
		),
		"ServerLinkType<'a>": enum(
			variants: {
				"BuiltIn": (
					tag: "1",
					data: {
						"label": "ServerLinkBuiltInLabel",
					},
				),
				"Custom": (
					tag: "0",
					data: {
						"label": "Nbt<Text<'a>>",
					},
				),
			},
		),
		"ServerLinkBuiltInLabel": enum(
			variants: {
				"BugReport": (tag: "0"),
				"CommunityGuidelines": (tag: "1"),
				"Support": (tag: "2"),
				"Status": (tag: "3"),
				"Feedback": (tag: "4"),
				"Community": (tag: "5"),
				"Website": (tag: "6"),
				"Forums": (tag: "7"),
				"News": (tag: "8"),
				"Announcements": (tag: "9"),
			},
		),
	}
)
