(
	items: {
		"Disconnect<'a>": packet(
			id: 0x00,
			data: {
				"reason": "Json<Text<'a>>",
			},
		),
		"EncryptionRequest<'a>": packet(
			id: 0x01,
			data: {
				"server_id": "Cow<'a, str>",
				"public_key": "SeqLen<'a, u8>",
				"verify_token": "SeqLen<'a, u8>",
				"should_authenticate": "bool",
			},
		),
		"LoginSuccess<'a>": packet(
			id: 0x02,
			data: {
				"uuid": "u128",
				"username": "Cow<'a, str>",
				"properties": "SeqLen<'a, Property<'a>>",
				"strict_error_handling": "bool",
			},
		),
		"Property<'a>": struct(
			data: {
				"name": "Cow<'a, str>",
				"value": "Cow<'a, str>",
				"signature": "Option<Cow<'a, str>>",
			},
		),
		"SetCompression": packet(
			id: 0x03,
			data: {
				"threshold": "VarInt",
			},
		),
		"PluginRequest<'a>": packet(
			id: 0x04,
			data: {
				"message_id": "VarInt",
				"channel": "Cow<'a, str>",
				"data": "Seq<'a, u8>",
			},
		),
		"CookieRequest<'a>": packet(
			id: 0x05,
			data: {
				"key": "Cow<'a, str>",
			},
		),
	}
)
