(
	items: {
		"Disconnect": packet(
			id: 0x00,
			data: {
				"reason": "Json<Text>",
			},
		),
		"EncryptionRequest": packet(
			id: 0x01,
			data: {
				"server_id": "String",
				"public_key": "Vec<u8>",
				"verify_token": "Vec<u8>",
				"should_authenticate": "bool",
			},
		),
		"LoginSuccess": packet(
			id: 0x02,
			data: {
				"uuid": "u128",
				"username": "String",
				"properties": "Vec<Property>",
				"strict_error_handling": "bool",
			},
		),
		"Property": struct(
			data: {
				"name": "String",
				"value": "String",
				"signature": "Option<String>",
			},
		),
		"SetCompression": packet(
			id: 0x03,
			data: {
				"threshold": "VarInt",
			},
		),
		"PluginRequest": packet(
			id: 0x04,
			data: {
				"message_id": "VarInt",
				"channel": "String",
				"data": "Box<[u8]>",
			},
		),
		"CookieRequest": packet(
			id: 0x05,
			data: {
				"key": "String",
			},
		),
	}
)
