(
	items: {
		"Login": packet(
			id: 0x2B,
			data: {
				"entity_id": "u32",
				"is_hardcore": "bool",
				"dimension_names": "Vec<String>",
				"max_players": "VarInt",
				"view_distance": "VarInt",
				"simulation_distance": "VarInt",
				"reduced_debug_info": "bool",
				"enable_respawn_screen": "bool",
				"limited_crafting": "bool",
				"dimension_type": "VarInt",
				"dimension_name": "String",
				"hashed_seed": "u64",
				"game_mode": "GameMode",
				"previous_game_mode": "GameMode",
				"is_debug_world": "bool",
				"is_flat_world": "bool",
				"death_location": "Option<(String, Position)>",
				"portal_cooldown": "VarInt",
				"enforces_secure_chat": "bool",
			},
		),
		"GameMode": enum(
		    variants: {
				"Undefined": ( tag: "-1" ),
				"Survival": ( tag: "0" ),
				"Creative": ( tag: "1" ),
				"Adventure": ( tag: "2" ),
				"Spectator": ( tag: "3" ),
			},
			tag_format: ( read_as: "i8", read: "THIS" ),
		),
	}
)
