(
	items: {
		"StatusResponse": packet(
			id: 0x00,
			data: {
				"response": "serde_types::status_response::StatusResponse",
			},
			format: {
		        ["*"]: [
					( field: "response", read_as: "Json<serde_types::status_response::StatusResponse>", read: "THIS.0", write: "&Json(THIS)" ),
				],
			},
		),
		"Pong": packet(
			id: 0x01,
			data: {
				"payload": "u64",
			},
		),
	}
)
