(
	items: {
		"LoginStart<'a>": packet(
			id: 0x00,
			data: {
				"username": "Cow<'a, str>",
				"uuid": "u128",
			},
		),
		"EncryptionResponse<'a>": packet(
			id: 0x01,
			data: {
				"shared_secret": "SeqLen<'a, u8>",
				"verify_token": "SeqLen<'a, u8>",
			},
		),
		"PluginResponse<'a>": packet(
			id: 0x02,
			data: {
				"message_id": "VarInt",
				"data": "Option<Seq<'a, u8>>",
			},
		),
		"LoginAcknowledged": packet(
			id: 0x03,
			data: {},
		),
		"CookieResponse<'a>": packet(
			id: 0x04,
			data: {
				"key": "Cow<'a, str>",
				"payload": "Option<SeqLen<'a, u8>>",
			},
		),
	}
)
